src/main/resources/repairservice/xmldata/customers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="customers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="customer" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="last_name" type="xs:string"/>
							<xs:element name="rest_of_name" type="xs:string" minOccurs="0"/>
							<xs:element name="email" type="xs:string"/>
							<xs:element name="phone" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="customer_id" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>