src/main/resources/repairshop/xmldata/technicians.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="technicians">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="technician" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="last_name" type="xs:string"/>
							<xs:element name="rest_of_name" type="xs:string"/>
							<xs:element name="email" type="xs:string"/>
							<xs:element name="phone" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="technician_id" type="xs:int" use="required"/>
					</xs:complexType>					
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>